/* CSS for Checkout page */
.form-control{background-color:#FFF;}.panel-title{text-align:center;font-size:20px;margin-bottom:30px;}
.label-success, .label-inverse, .label-danger{padding: 5px;font-size: 14px;}
#datatable td, #datatable th{vertical-align:middle;text-align:center;padding:14px;}
td,th{text-align:center;}
.md-add, .md-clear{font-weight:bold;}
/*.btn-danger, .btn-success{padding:0px;padding: 5px;font-size: 15px;font-weight: bold;margin-top: 4px;}*/
.other_income_grand{background: #E1EEF2;padding: 10px;border-radius: 5px;width: 100%;height:50px;font-size:20px;font-weight:bold;}
.other_income_figure{font-weight:bold;float:right;font-size:20px;}
.list-group-item{color: #666666;}
.list-group-item span{float:right;color:#000;font-weight:bold;}
.list-group-item span.due_amount{font-size:20px;color:#ef5350;}
.form-group label{font-weight:normal;}
#net_payable{text-align:center;}
#net_payable label{text-transform:uppercase;font-weight:normal;font-size:15px;}
#net_payable span{font-weight:bold;font-size:30px;}