/* CSS for Dashboard controller */

tr, th {text-align:center;}

.fa {transform: scale(1.5);color:#A3313E;}
.panel-heading{text-align: center;border-radius: 10px;}
.panel-heading h3{font-size:24px;}
.modal-title{font-weight:bold;}