/* CSS For Occupancy Report */

tr, th {text-align:center;vertical-align:middle;}

.panel-heading{text-align: center;border-radius: 10px;}
.panel-heading h3{font-size:24px;}
.modal-title{font-weight:bold;text-align:center;}
.panel-heading{margin-bottom:40px;}

.fa {transform: scale(1.5);color:#A3313E;}
.md-print, .md-location-off, .md-face-unlock{transform: scale(1.8);color:#A3313E;}
.ion-person {transform: scale(2);color:#33b86c;}

.link_text{margin-left:15px;}
.modal-title{font-weight:bold;text-align:center;}
.form-control{background-color:#FFF;}.form-group label{font-weight:normal;}

#net_payable{text-align:center;}
#net_payable label{text-transform:uppercase;font-weight:normal;font-size:15px;}
#net_payable span{font-weight:bold;font-size:30px;}