/* Print GRC */

html{background-color:#FFFFFF;}

#bill{border: 2px solid #000;margin-left:5%;margin-right:5%;}
#bill h3{text-align:center;border-bottom:2px solid #DDD;margin-top:20px;margin-bottom:20px;margin-left:5%;margin-right:5%;}

#terms{margin-left:5%;margin-right:5%;}

