.nav-tabs>li {float: right;margin-top: 5px;}
.nav-tabs>li a {color:#000;font-weight:bold;}
.navtab-bg,.nav.nav-tabs > li.active > a{border-radius:5px;}
.tab-content {box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);color: #000;overflow: hidden;}

label{font-weight:normal;}
.form-control {background-color:#FFF;}

.logo-dimensions{font-size: 11px;margin-left: 10px;}

thead{font-weight:normal;border: 1px solid #ddd;background: #f2f2f2;}
.table-responsive{min-height: 400px;}
.dropdown-menu{min-width:100px;border:1px solid #DDD;}

