/* User Master CSS */

.nav-tabs>li {float: right;margin-top: 5px;}
.nav-tabs>li a {color:#000;font-weight:bold;}
.navtab-bg,.nav.nav-tabs > li.active > a{border-radius:5px;}
.tab-content {box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);color: #000;overflow: hidden;}
.table-responsive{min-height: 200px;}

.modal-title{font-weight:bold;}
label{font-weight:normal;}
.form-control {background-color:#FFF;}

.panel-title{
    width: 95%;
    float: left;
    font-size: 20px;
}