@import "variables.less";
@import "elements.less";


/*
Template Name: Moltran Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Components
*/

/*
  - Buttons
  - Panels
  - Portlets
  - Checkbox and Radio
  - Progressbars
  - Tables
  - Form Elements
  - Calendar
  - Widgets
*/


/* ==============
  Buttons
===================*/

.btn {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.2px;
  opacity: 0.93;

  &:hover {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
  }

  &:focus {
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
  }
}

.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-inverse, .btn-purple, .btn-pink {
  color: @white !important;
}

.btn-default {
  &:hover {
    background-color: @light9;
  }
  &:focus {
    background-color: @light9;
  }
  &:active {
    background-color: @light9;
  }
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background-color: @primary !important;
  border: 1px solid @primary !important;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .dropdown-toggle.btn-success {
  background-color: @success !important;
  border: 1px solid @success !important;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info {
  background-color: @info !important;
  border: 1px solid @info !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning {
  background-color: @warning !important;
  border: 1px solid @warning !important;
  color: @lightdark3 !important;
}

.btn-danger, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
  background-color: @danger !important;
  border: 1px solid @danger !important;
}

.btn-inverse, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.focus, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open > .dropdown-toggle.btn-inverse {
  background-color: @inverse !important;
  border: 1px solid @inverse !important;
  color: @white;
}

.btn-purple, .btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background-color: @purple !important;
  border: 1px solid @purple !important;
  color: @white;
}

.btn-pink, .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
  background-color: @pink !important;
  border: 1px solid @pink !important;
  color: @white;
}

.btn-custom.btn-default {
  &:hover {
    color: @lightdark3 !important;
  }
  &:active {
    color: @lightdark3 !important;
  }
  &:focus {
    color: @lightdark3 !important;
  }
}

.btn-custom.btn-primary {
  color: @primary !important;
}

.btn-custom.btn-success {
  color: @success !important;
}

.btn-custom.btn-info {
  color: @info !important;
}

.btn-custom.btn-warning {
  color: @warning !important;
}

.btn-custom.btn-danger {
  color: @danger !important;
}

.btn-custom.btn-inverse {
  color: @inverse !important;
}

.btn-custom.btn-purple {
  color: @purple !important;
}

.btn-custom.btn-pink {
  color: @pink !important;
}

.btn-rounded {
  border-radius: 2em;
  padding: 6px 18px;
}

.btn-custom {
  -moz-border-radius: 2px;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-transition: all 400ms ease-in-out;
  background: transparent;
  background-color: transparent !important;
  border-radius: 2px;
  border-width: 1px;
  transition: all 400ms ease-in-out;
  &:hover {
    color: @white !important;
  }
  &:focus {
    color: @white !important;
  }
}


//File Upload

.fileupload {
  overflow: hidden;
  position: relative;
  input.upload {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}


/* ==============
  Panels
===================*/


.panel {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  .panel-body {
    padding: 20px;
    p {
      margin: 0px;
    }
    p + p {
      margin-top: 15px;
    }
  }
}

.panel-heading {
  border-radius: 0;
  border: none !important;
  padding: 10px 20px;
}

.panel-default > .panel-heading {
  background-color: @light-alt;
  border-bottom: none;
  color: #797979;
}

.panel-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.panel-footer {
  background: @light-alt;
  border-top: 0px;
}

.panel-color {
  .panel-title {
    color: @white;
  }
}

.panel-primary > .panel-heading {
  background-color: @primary;
}

.panel-success > .panel-heading {
  background-color: @success;
}

.panel-info > .panel-heading {
  background-color: @info;
}

.panel-warning > .panel-heading {
  background-color: @warning;
}

.panel-danger > .panel-heading {
  background-color: @danger;
}

.panel-purple > .panel-heading {
  background-color: @purple;
}

.panel-pink > .panel-heading {
  background-color: @pink;
}

.panel-inverse > .panel-heading {
  background-color: @inverse;
}

.panel-border {
  border-radius: 3px;
}

.panel-border .panel-heading {
  background-color: @white;
  border-top: 3px solid #ccc !important;
  border-radius: 3px;
  padding: 10px 20px 0px;
}

.panel-border .panel-body {
  padding: 15px 20px 20px 20px;
}

.panel-border.panel-primary .panel-heading {
  border-color: @primary !important;
  color: @primary !important;
}

.panel-border.panel-success .panel-heading {
  border-color: @success !important;
  color: @success !important;
}

.panel-border.panel-info .panel-heading {
  border-color: @info !important;
  color: @info !important;
}

.panel-border.panel-warning .panel-heading {
  border-color: @warning !important;
  color: @warning !important;
}

.panel-border.panel-danger .panel-heading {
  border-color: @danger !important;
  color: @danger !important;
}

.panel-border.panel-purple .panel-heading {
  border-color: @purple !important;
  color: @purple !important;
}

.panel-border.panel-pink .panel-heading {
  border-color: @pink !important;
  color: @pink !important;
}

.panel-border.panel-inverse .panel-heading {
  border-color: @inverse !important;
  color: @inverse !important;
}

.panel-fill {
  border-radius: 3px;
}

.panel-fill .panel-heading {
  background-color: transparent;
  color: @white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.panel-fill .panel-body {
  color: rgba(255, 255, 255, .85);
}

.panel-fill.panel-default .panel-body {
  color: #666;
}

.panel-fill.panel-default .panel-heading {
  background-color: transparent;
  color: @lightdark3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.panel-fill.panel-primary {
  background-color: #489ce7;
}

.panel-fill.panel-success {
  background-color: #58c386;
}

.panel-fill.panel-info {
  background-color: #50c1f4;
}

.panel-fill.panel-warning {
  background-color: #fcdc63;
}

.panel-fill.panel-danger {
  background-color: #ef7270;
}

.panel-fill.panel-purple {
  background-color: #9475cb;
}

.panel-fill.panel-pink {
  background-color: #ec6391;
}

.panel-fill.panel-inverse {
  background-color: #4a4a4a;
}


.panel-group {
  .panel {
    .panel-heading {
      a[data-toggle=collapse].collapsed {
        &:before {
          content: '\f067';
        }
      }
      .accordion-toggle.collapsed {
        &:before {
          content: '\f067';
        }
      }
      a[data-toggle=collapse] {
        display: block;
        &:before {
          content: '\f068';
          display: block;
          float: right;
          font-family: 'FontAwesome';
          font-size: 14px;
          text-align: right;
          width: 25px;
        }
      }
      .accordion-toggle {
        display: block;
        &:before {
          content: '\f068';
          display: block;
          float: right;
          font-family: 'FontAwesome';
          font-size: 14px;
          text-align: right;
          width: 25px;
        }
      }
    }
    .panel-heading + .panel-collapse {
      .panel-body {
        border-top: none;
      }
    }
  }
  .panel-heading {
    padding: 12px 26px;
  }
}

.panel-group.panel-group-joined {
  .panel + .panel {
    border-top: 1px solid @light;
    margin-top: 0;
  }
}

.panel-group-joined {
  .panel-group {
    .panel + .panel {
      border-top: 1px solid @light;
      margin-top: 0;
    }
  }
}

/* ==============
  Portlets
===================*/


.portlet {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  background: @white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.4s;
  .portlet-heading {
    border-radius: 3px;
    color: @white;
    padding: 12px 20px;
    .portlet-title {
      color: @white;
      float: left;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 0;
    }
    .portlet-widgets {
      display: inline-block;
      float: right;
      font-size: 15px;
      line-height: 30px;
      padding-left: 15px;
      position: relative;
      text-align: right;
      .divider {
        margin: 0 5px;
      }
    }
    a {
      color: #999999;
    }
  }
  .portlet-body {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    background: @white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
  }
}

.portlet-default {
  .portlet-title {
    color: @lightdark7 !important;
  }
}

.portlet .portlet-heading.bg-purple a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.bg-inverse a, .portlet .portlet-heading.bg-pink a {
  color: @white;
}

.panel-disabled {
  background: rgba(243, 242, 241, 0.5);
  bottom: 15px;
  left: 0px;
  position: absolute;
  right: -5px;
  top: 0;
}

.loader-1 {
  -moz-animation: loaderAnimate 1000ms linear infinite;
  -o-animation: loaderAnimate 1000ms linear infinite;
  -webkit-animation: loaderAnimate 1000ms linear infinite;
  animation: loaderAnimate 1000ms linear infinite;
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
  &:after {
    -moz-animation: loaderAnimate2 1000ms ease-in-out infinite;
    -o-animation: loaderAnimate2 1000ms ease-in-out infinite;
    -webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
    animation: loaderAnimate2 1000ms ease-in-out infinite;
    border-radius: 50%;
    clip: rect(0, 30px, 30px, 15px);
    content: '';
    height: 30px;
    position: absolute;
    width: 30px;
  }
}


/* ==============
  Checkbox and Radio
===================*/

.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    &::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: @white;
      border-radius: 3px;
      border: 1px solid @lightdark-alt;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important;
    }
    &::after {
      color: @lightdark5;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: 0;
      width: 16px;
    }
  }
  input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
    &:disabled + label {
      opacity: 0.65;
    }
  }
  input[type="checkbox"]:focus + label {
    &::before {
      outline-offset: -2px;
      outline: none;
      outline: thin dotted;
    }
  }
  input[type="checkbox"]:checked + label {
    &::after {
      content: "\f00c";
      font-family: 'FontAwesome';
    }
  }
  input[type="checkbox"]:disabled + label {
    &::before {
      background-color: @light;
      cursor: not-allowed;
    }
  }
}

.checkbox.checkbox-circle {
  label {
    &::before {
      border-radius: 50%;
    }
  }
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single {
  label {
    height: 17px;
  }
}

.checkbox-primary {
  input[type="checkbox"]:checked + label {
    &::before {
      background-color: @primary;
      border-color: @primary;
    }
    &::after {
      color: @white;
    }
  }
}

.checkbox-danger {
  input[type="checkbox"]:checked + label {
    &::before {
      background-color: @danger;
      border-color: @danger;
    }
    &::after {
      color: @white;
    }
  }
}

.checkbox-info {
  input[type="checkbox"]:checked + label {
    &::before {
      background-color: @info;
      border-color: @info;
    }
    &::after {
      color: @white;
    }
  }
}

.checkbox-warning {
  input[type="checkbox"]:checked + label {
    &::before {
      background-color: @warning;
      border-color: @warning;
    }
    &::after {
      color: @white;
    }
  }
}

.checkbox-success {
  input[type="checkbox"]:checked + label {
    &::before {
      background-color: @success;
      border-color: @success;
    }
    &::after {
      color: @white;
    }
  }
}

.radio {
  padding-left: 20px;
  label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    &::before {
      -o-transition: border 0.5s ease-in-out;
      -webkit-transition: border 0.5s ease-in-out;
      background-color: @white;
      border-radius: 50%;
      border: 1px solid @lightdark-alt;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      outline: none !important;
      position: absolute;
      transition: border 0.5s ease-in-out;
      width: 17px;
    }
    &::after {
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -webkit-transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      background-color: @lightdark5;
      border-radius: 50%;
      content: " ";
      display: inline-block;
      height: 11px;
      left: 3px;
      margin-left: -20px;
      position: absolute;
      top: 3px;
      transform: scale(0, 0);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      width: 11px;
    }
  }
  input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
    &:disabled + label {
      opacity: 0.65;
    }
  }
  input[type="radio"]:focus + label {
    &::before {
      outline-offset: -2px;
      outline: none;
    }
  }
  input[type="radio"]:checked + label {
    &::after {
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  input[type="radio"]:disabled + label {
    &::before {
      cursor: not-allowed;
    }
  }
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single {
  label {
    height: 17px;
  }
}

.radio-primary {
  input[type="radio"] + label {
    &::after {
      background-color: @primary;
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      border-color: @primary;
    }
    &::after {
      background-color: @primary;
    }
  }
}

.radio-danger {
  input[type="radio"] + label {
    &::after {
      background-color: @danger;
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      border-color: @danger;
    }
    &::after {
      background-color: @danger;
    }
  }
}

.radio-info {
  input[type="radio"] + label {
    &::after {
      background-color: @info;
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      border-color: @info;
    }
    &::after {
      background-color: @info;
    }
  }
}

.radio-warning {
  input[type="radio"] + label {
    &::after {
      background-color: @warning;
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      border-color: @warning;
    }
    &::after {
      background-color: @warning;
    }
  }
}

.radio-success {
  input[type="radio"] + label {
    &::after {
      background-color: @success;
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      border-color: @success;
    }
    &::after {
      background-color: @success;
    }
  }
}

/* ==============
  Progressbars
===================*/


.progress {
  -webkit-box-shadow: none !important;
  background-color: @light5;
  box-shadow: none !important;
  height: 10px;
  margin-bottom: 18px;
  overflow: hidden;
}

.progress-bar {
  box-shadow: none;
  font-size: 8px;
  font-weight: 600;
  line-height: 12px;
}

.progress.progress-sm {
  height: 5px !important;
  .progress-bar {
    font-size: 8px;
    line-height: 5px;
  }
}

.progress.progress-md {
  height: 15px !important;
  .progress-bar {
    font-size: 10.8px;
    line-height: 14.4px;
  }
}

.progress.progress-lg {
  height: 20px !important;
  .progress-bar {
    font-size: 12px;
    line-height: 20px;
  }
}

.progress-bar-primary {
  background-color: @primary;
}

.progress-bar-success {
  background-color: @success;
}

.progress-bar-info {
  background-color: @info;
}

.progress-bar-warning {
  background-color: @warning;
}

.progress-bar-danger {
  background-color: @danger;
}

.progress-bar-inverse {
  background-color: @inverse;
}

.progress-bar-purple {
  background-color: @purple;
}

.progress-bar-pink {
  background-color: @pink;
}

.progress-animated {
  -webkit-animation-duration: 5s;
  -webkit-animation-name: animationProgress;
  -webkit-transition: 5s all;
  animation-duration: 5s;
  animation-name: animationProgress;
  transition: 5s all;
}


/* ==============
  Tables
===================*/

.table {
  margin-bottom: 10px;
}

tbody {
  color: #797979;
}

th {
  color: #666666;
  font-size: 15px;
}

table.focus-on {
  tbody {
    tr.focused {
      th {
        background-color: @primary;
        color: @white;
      }
      td {
        background-color: @primary;
        color: @white;
      }
    }
  }
}

.table-rep-plugin {
  tbody {
    th {
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.modal-block {
  background: transparent;
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  position: relative;
  text-align: left;
}

#datatable-editable {
  .actions {
    a {
      padding: 5px;
    }
  }
  .form-control {
    background-color: @white;
    width: 100%;
  }
  .fa-trash-o {
    color: @danger;
  }
  .fa-times {
    color: @danger;
  }
  .fa-pencil {
    color: #29b6f6;
  }
  .fa-save {
    color: #33b86c;
  }
}

#datatable {
  td {
    font-weight: normal;
  }
}

div.dataTables_paginate {
  ul.pagination {
    margin-top: 30px;
  }
}

div.dataTables_info {
  padding-top: 38px;
}


/* ==============
  Form-elements
===================*/


.error {
  color: #ff0000;
}

.datepicker {
  border: 1px solid @lightgray;
  padding: 8px;
  th {
    font-size: 14px !important;
  }
}

.search-input {
  margin-bottom: 10px;
}

.ms-selectable {
  box-shadow: none;
  outline: none !important;
}

.ms-container {
  .ms-list.ms-focus {
    box-shadow: none;
  }
  .ms-selectable {
    li.ms-hover {
      background-color: @primary;
    }
  }
  .ms-selection {
    li.ms-hover {
      background-color: @primary;
    }
  }
}

.spinner-buttons.btn-group-vertical {
  .btn {
    background-color: @light;
    border: none !important;
    box-shadow: none !important;
    height: 17px;
    line-height: 16px;
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    width: 22px;
    i {
      color: @lightdark3 !important;
      line-height: 10px;
      margin-top: -3px;
    }
    &:first-child {
      -webkit-border-radius: 0 0px 0 0 !important;
      border-radius: 0 0px 0 0 !important;
    }
    &:last-child {
      -webkit-border-radius: 0 0 0px !important;
      border-radius: 0 0 0px !important;
    }
  }
}

.note-editor {
  border: 1px solid @lightgray;
  position: relative;
  .note-toolbar {
    background-color: @light3;
    border-bottom: 1px solid @lightgray;
    margin: 0;
  }
  .note-statusbar {
    background-color: @white;
    .note-resizebar {
      border-top: 1px solid @lightgray;
      height: 15px;
      padding-top: 3px;
    }
  }
}

.note-popover {
  .popover {
    .popover-content {
      padding: 5px 0 10px 5px;
    }
  }
}

.note-toolbar {
  padding: 5px 0 10px 5px;
}

.code-edit-wrap {
  padding: 0px !important;
}

.cm-s-ambiance {
  .CodeMirror-linenumber {
    color: #bcbcbc;
  }
  .CodeMirror-gutters {
    background-color: @inverse !important;
    box-shadow: none;
  }
}

.cm-s-ambiance.CodeMirror {
  background-color: @inverse !important;
  box-shadow: none;
}

.bootstrap-timepicker-widget {
  table {
    td {
      a {
        &:hover {
          background-color: transparent;
          border-color: transparent;
          border-radius: 4px;
          color: @primary;
          text-decoration: none;
        }
      }
    }
  }
}

.editor-horizontal {
  .popover-content {
    padding: 9px 30px;
  }
}

.wizard > .content {
  background: @white;
  min-height: 240px;
  padding: 20px;
}

.wizard > .content > .body {
  padding: 0px;
  input {
    border: 1px solid @light;
  }
  ul > li {
    display: block;
    line-height: 30px;
  }
  label.error {
    color: #e55957;
    margin-left: 0;
  }
  label {
    display: inline-block;
    margin-top: 10px;
  }
}

.wizard > .steps {
  .number {
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    margin-right: 10px;
  }
  .disabled {
    a {
      background: #f2f2f2;
      color: @lightdark3;
      cursor: default;
      &:hover {
        background: #f2f2f2;
        color: @lightdark3;
        cursor: default;
      }
      &:active {
        background: #f2f2f2;
        color: @lightdark3;
        cursor: default;
      }
    }
  }
  .current {
    a {
      background: @primary;
      &:hover {
        background: @primary;
        .number {
          background: transparent;
          color: @white;
        }
      }
      &:active {
        background: @primary;
        .number {
          background: transparent;
          color: @white;
        }
      }
      .number {
        background: transparent;
        color: @white;
      }
    }
  }
  .done {
    a {
      background: @lightdark-alt;
      &:hover {
        background: @lightdark-alt;
      }
      &:active {
        background: @lightdark-alt;
      }
    }
  }
}

.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active, .wizard > .content {
  border-radius: 2px;
}

.wizard > .actions {
  margin-bottom: 30px;
  a {
    background: @primary;
    border-radius: 2px;
    color: @white;
    &:hover {
      background: @primary;
      border-radius: 2px;
      color: @white;
    }
    &:active {
      background: @primary;
      border-radius: 2px;
      color: @white;
    }
  }
  .disabled {
    a {
      background: #e2e2e2;
      color: @lightdark3;
      &:hover {
        background: #e2e2e2;
        color: @lightdark3;
      }
      &:active {
        background: #e2e2e2;
        color: @lightdark3;
      }
    }
  }
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-color: @primary !important;
  background-image: none;
  box-shadow: none;
}

/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 6px;

  .dz-message {
    font-size: 30px;
  }
}


/* ==============
  Calendar
===================*/


.calendar {
  float: left;
  margin-bottom: 0px;
}
.none-border {
  .modal-footer {
    border-top: none;
  }
}

.fc-toolbar {
  margin-bottom: 5px;
  h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
  }
}

.fc-day {
  background: @white;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc {
  th.fc-widget-header {
    background: #dddddd;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px;
    text-transform: uppercase;
  }
}

.fc-button {
  background: @white;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #F5F5F5;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed {
  .fc-today {
    background: @white;
  }
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.external-event {
  color: @white;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view {
  td.fc-week-number {
    span {
      padding-right: 5px;
    }
  }
  td.fc-day-number {
    padding-right: 5px;
  }
}


/* ==============
  Widgets
===================*/

.widget-s-1 {
  border-radius: 6px;
}

.mini-stat {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
  color: @white;
}

.mini-stat-icon {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.2);
  display: inline-block;
  float: left;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  text-align: center;
  width: 60px;
}

.mini-stat-info {
  padding-top: 2px;
  color: @light;
  span {
    color: @white;
    display: block;
    font-size: 24px;
    font-weight: 600;
  }
  span.name {
    color: @white;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
  }
}

.inbox-widget {
  .inbox-item {
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    .inbox-item-img {
      display: block;
      float: left;
      margin-right: 15px;
      width: 40px;
    }
    img {
      width: 40px;
    }
    .inbox-item-author {
      color: #333333;
      display: block;
      margin: 0;
    }
    .inbox-item-text {
      color: #a0a0a0;
      display: block;
      font-size: 12px;
      margin: 0;
    }
    .inbox-item-date {
      color: #a9a9a9;
      font-size: 11px;
      position: absolute;
      right: 7px;
      top: 2px;
    }
  }
}

.conversation-list {
  list-style: none;
  max-height: 330px;
  padding: 0px 20px;
  li {
    margin-bottom: 24px;
  }
  .chat-avatar {
    display: inline-block;
    float: left;
    text-align: center;
    width: 40px;
    img {
      border-radius: 100%;
      width: @width;
    }
    i {
      font-size: 12px;
      font-style: normal;
    }
  }
  .ctext-wrap {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: @light5;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    position: relative;
    i {
      color: #1a2942;
      display: block;
      font-size: 12px;
      font-style: normal;
      font-weight: bold;
      position: relative;
    }
    p {
      margin: 0px;
      padding-top: 3px;
    }
    &:after {
      right: 100%;
      top: 20%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(213,242,239,0);
      border-right-color: #f5f5f5;
      border-width: 5px;
      margin-top: -5px;
    }
  }
  .conversation-text {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-left: 12px;
    width: 70%;
  }
  .odd {
    .chat-avatar {
      float: right !important;
    }
    .conversation-text {
      float: right !important;
      margin-right: 12px;
      text-align: right;
      width: 70% !important;
    }
    .ctext-wrap {
      background: #e8e9ec !important;
      i {
        color: #acacac;
      }
      &:after {
        border-color: rgba(238, 238, 242, 0) !important;
        border-left-color: #e8e9ec !important;
        left: 100% !important;
        top: 20% !important;
      }
    }
  }
}

.chat-send {
  padding-left: 0px;
  padding-right: 30px;
  button {
    width: @width;
  }
}

.chat-inputbar {
  padding-left: 30px;
}

#todo-message {
  font-size: 16px;
}

.todoapp {
  padding: 10px 30px 20px 30px !important;
}

.todo-list {
  li {
    border-bottom: 1px solid #eeeeee;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.todo-send {
  padding-left: 0px;
}
